/*
1152px grid system ~ Core CSS.

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/


.block { width: 100%; margin: 0px; display: inline; float: left; }
.grid-0 { display:none; }

/* =Containers
--------------------------------------------------------------------------------*/
.container-12,
.container-16,
.container-24
{
        margin-left: auto;
        margin-right: auto;
        width: 1152px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

/* 12 & 16 Grids */
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,.grid-17,.grid-18,.grid-19,.grid-20,.grid-21,.grid-22,.grid-23,.grid-24 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* 24 Grids  Gutter*/
.container-24 .grid-1,
.container-24 .grid-2,
.container-24 .grid-3,
.container-24 .grid-4,
.container-24 .grid-5,
.container-24 .grid-6,
.container-24 .grid-7,
.container-24 .grid-8,
.container-24 .grid-9,
.container-24 .grid-10,
.container-24 .grid-11,
.container-24 .grid-12,
.container-24 .grid-13,
.container-24 .grid-14,
.container-24 .grid-15,
.container-24 .grid-16,
.container-24 .grid-17,
.container-24 .grid-18,
.container-24 .grid-19,
.container-24 .grid-20,
.container-24 .grid-21,
.container-24 .grid-22,
.container-24 .grid-23,
.container-24 .grid-24 {
  margin-left:5px;margin-right:5px
}


.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .grid-1 {width: 76px;}
.container-12 .grid-2 {width: 172px;}
.container-12 .grid-3 {width: 268px;}
.container-12 .grid-4 {width: 364px;}
.container-12 .grid-5 {width: 460px;}
.container-12 .grid-6 {width: 556px;}
.container-12 .grid-7 {width: 652px;}
.container-12 .grid-8 {width: 748px;}
.container-12 .grid-9 {width: 844px;}
.container-12 .grid-10 {width: 940px;}
.container-12 .grid-11 {width: 1036px;}
.container-12 .grid-12 {width: 1132px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .prefix-1 {padding-left: 96px;}
.container-12 .prefix-2 {padding-left: 192px;}
.container-12 .prefix-3 {padding-left: 288px;}
.container-12 .prefix-4 {padding-left: 384px;}
.container-12 .prefix-5 {padding-left: 480px;}
.container-12 .prefix-6 {padding-left: 576px;}
.container-12 .prefix-7 {padding-left: 672px;}
.container-12 .prefix-8 {padding-left: 768px;}
.container-12 .prefix-9 {padding-left: 864px;}
.container-12 .prefix-10 {padding-left: 960px;}
.container-12 .prefix-11 {padding-left: 1056px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .suffix-1 {padding-right: 96px;}
.container-12 .suffix-2 {padding-right: 192px;}
.container-12 .suffix-3 {padding-right: 288px;}
.container-12 .suffix-4 {padding-right: 384px;}
.container-12 .suffix-5 {padding-right: 480px;}
.container-12 .suffix-6 {padding-right: 576px;}
.container-12 .suffix-7 {padding-right: 672px;}
.container-12 .suffix-8 {padding-right: 768px;}
.container-12 .suffix-9 {padding-right: 864px;}
.container-12 .suffix-10 {padding-right: 960px;}
.container-12 .suffix-11 {padding-right: 1056px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .push-1 {left: 96px;}
.container-12 .push-2 {left: 192px;}
.container-12 .push-3 {left: 288px;}
.container-12 .push-4 {left: 384px;}
.container-12 .push-5 {left: 480px;}
.container-12 .push-6 {left: 576px;}
.container-12 .push-7 {left: 672px;}
.container-12 .push-8 {left: 768px;}
.container-12 .push-9 {left: 864px;}
.container-12 .push-10 {left: 960px;}
.container-12 .push-11 {left: 1056px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .pull-1 {left: -96px;}
.container-12 .pull-2 {left: -192px;}
.container-12 .pull-3 {left: -288px;}
.container-12 .pull-4 {left: -384px;}
.container-12 .pull-5 {left: -480px;}
.container-12 .pull-6 {left: -576px;}
.container-12 .pull-7 {left: -672px;}
.container-12 .pull-8 {left: -768px;}
.container-12 .pull-9 {left: -864px;}
.container-12 .pull-10 {left: -960px;}
.container-12 .pull-11 {left: -1056px;}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .grid-1 {width: 52px;}
.container-16 .grid-2 {width: 124px;}
.container-16 .grid-3 {width: 196px;}
.container-16 .grid-4 {width: 268px;}
.container-16 .grid-5 {width: 340px;}
.container-16 .grid-6 {width: 412px;}
.container-16 .grid-7 {width: 484px;}
.container-16 .grid-8 {width: 556px;}
.container-16 .grid-9 {width: 628px;}
.container-16 .grid-10 {width: 700px;}
.container-16 .grid-11 {width: 772px;}
.container-16 .grid-12 {width: 844px;}
.container-16 .grid-13 {width: 916px;}
.container-16 .grid-14 {width: 988px;}
.container-16 .grid-15 {width: 1060px;}
.container-16 .grid-16 {width: 1132px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .prefix-1 {padding-left: 72px;}
.container-16 .prefix-2 {padding-left: 144px;}
.container-16 .prefix-3 {padding-left: 216px;}
.container-16 .prefix-4 {padding-left: 288px;}
.container-16 .prefix-5 {padding-left: 360px;}
.container-16 .prefix-6 {padding-left: 432px;}
.container-16 .prefix-7 {padding-left: 504px;}
.container-16 .prefix-8 {padding-left: 576px;}
.container-16 .prefix-9 {padding-left: 648px;}
.container-16 .prefix-10 {padding-left: 720px;}
.container-16 .prefix-11 {padding-left: 792px;}
.container-16 .prefix-12 {padding-left: 864px;}
.container-16 .prefix-13 {padding-left: 936px;}
.container-16 .prefix-14 {padding-left: 1008px;}
.container-16 .prefix-15 {padding-left: 1080px;}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .suffix-1 {padding-right: 72px;}
.container-16 .suffix-2 {padding-right: 144px;}
.container-16 .suffix-3 {padding-right: 216px;}
.container-16 .suffix-4 {padding-right: 288px;}
.container-16 .suffix-5 {padding-right: 360px;}
.container-16 .suffix-6 {padding-right: 432px;}
.container-16 .suffix-7 {padding-right: 504px;}
.container-16 .suffix-8 {padding-right: 576px;}
.container-16 .suffix-9 {padding-right: 648px;}
.container-16 .suffix-10 {padding-right: 720px;}
.container-16 .suffix-11 {padding-right: 792px;}
.container-16 .suffix-12 {padding-right: 864px;}
.container-16 .suffix-13 {padding-right: 936px;}
.container-16 .suffix-14 {padding-right: 1008px;}
.container-16 .suffix-15 {padding-right: 1080px;}

/* `Push Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .push-1 {left: 72px;}
.container-16 .push-2 {left: 144px;}
.container-16 .push-3 {left: 216px;}
.container-16 .push-4 {left: 288px;}
.container-16 .push-5 {left: 360px;}
.container-16 .push-6 {left: 432px;}
.container-16 .push-7 {left: 504px;}
.container-16 .push-8 {left: 576px;}
.container-16 .push-9 {left: 648px;}
.container-16 .push-10 {left: 720px;}
.container-16 .push-11 {left: 792px;}
.container-16 .push-12 {left: 864px;}
.container-16 .push-13 {left: 936px;}
.container-16 .push-14 {left: 1008px;}
.container-16 .push-15 {left: 1080px;}

/* `Pull Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .pull-1 {left: -72px;}
.container-16 .pull-2 {left: -144px;}
.container-16 .pull-3 {left: -216px;}
.container-16 .pull-4 {left: -288px;}
.container-16 .pull-5 {left: -360px;}
.container-16 .pull-6 {left: -432px;}
.container-16 .pull-7 {left: -504px;}
.container-16 .pull-8 {left: -576px;}
.container-16 .pull-9 {left: -648px;}
.container-16 .pull-10 {left: -720px;}
.container-16 .pull-11 {left: -792px;}
.container-16 .pull-12 {left: -864px;}
.container-16 .pull-13 {left: -936px;}
.container-16 .pull-14 {left: -1008px;}
.container-16 .pull-15 {left: -1080px;}

/* =Grid >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .grid-1 {width: 38px;}
.container-24 .grid-2 {width: 86px;}
.container-24 .grid-3 {width: 134px;}
.container-24 .grid-4 {width: 182px;}
.container-24 .grid-5 {width: 230px;}
.container-24 .grid-6 {width: 278px;}
.container-24 .grid-7 {width: 326px;}
.container-24 .grid-8 {width: 374px;}
.container-24 .grid-9 {width: 422px;}
.container-24 .grid-10 {width: 470px;}
.container-24 .grid-11 {width: 518px;}
.container-24 .grid-12 {width: 566px;}
.container-24 .grid-13 {width: 614px;}
.container-24 .grid-14 {width: 662px;}
.container-24 .grid-15 {width: 710px;}
.container-24 .grid-16 {width: 758px;}
.container-24 .grid-17 {width: 806px;}
.container-24 .grid-18 {width: 854px;}
.container-24 .grid-19 {width: 902px;}
.container-24 .grid-20 {width: 950px;}
.container-24 .grid-21 {width: 998px;}
.container-24 .grid-22 {width: 1046px;}
.container-24 .grid-23 {width: 1094px;}
.container-24 .grid-24 {width: 1142px;}

/* =Prefix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .prefix-1 {padding-left: 48px;}
.container-24 .prefix-2 {padding-left: 96px;}
.container-24 .prefix-3 {padding-left: 144px;}
.container-24 .prefix-4 {padding-left: 192px;}
.container-24 .prefix-5 {padding-left: 240px;}
.container-24 .prefix-6 {padding-left: 288px;}
.container-24 .prefix-7 {padding-left: 336px;}
.container-24 .prefix-8 {padding-left: 384px;}
.container-24 .prefix-9 {padding-left: 432px;}
.container-24 .prefix-10 {padding-left: 480px;}
.container-24 .prefix-11 {padding-left: 528px;}
.container-24 .prefix-12 {padding-left: 576px;}
.container-24 .prefix-13 {padding-left: 624px;}
.container-24 .prefix-14 {padding-left: 672px;}
.container-24 .prefix-15 {padding-left: 720px;}
.container-24 .prefix-16 {padding-left: 768px;}
.container-24 .prefix-17 {padding-left: 816px;}
.container-24 .prefix-18 {padding-left: 864px;}
.container-24 .prefix-19 {padding-left: 912px;}
.container-24 .prefix-20 {padding-left: 960px;}
.container-24 .prefix-21 {padding-left: 1008px;}
.container-24 .prefix-22 {padding-left: 1056px;}
.container-24 .prefix-23 {padding-left: 1104px;}

/* =Suffix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .suffix-1 {padding-right: 48px;}
.container-24 .suffix-2 {padding-right: 96px;}
.container-24 .suffix-3 {padding-right: 144px;}
.container-24 .suffix-4 {padding-right: 192px;}
.container-24 .suffix-5 {padding-right: 240px;}
.container-24 .suffix-6 {padding-right: 288px;}
.container-24 .suffix-7 {padding-right: 336px;}
.container-24 .suffix-8 {padding-right: 384px;}
.container-24 .suffix-9 {padding-right: 432px;}
.container-24 .suffix-10 {padding-right: 480px;}
.container-24 .suffix-11 {padding-right: 528px;}
.container-24 .suffix-12 {padding-right: 576px;}
.container-24 .suffix-13 {padding-right: 624px;}
.container-24 .suffix-14 {padding-right: 672px;}
.container-24 .suffix-15 {padding-right: 720px;}
.container-24 .suffix-16 {padding-right: 768px;}
.container-24 .suffix-17 {padding-right: 816px;}
.container-24 .suffix-18 {padding-right: 864px;}
.container-24 .suffix-19 {padding-right: 912px;}
.container-24 .suffix-20 {padding-right: 960px;}
.container-24 .suffix-21 {padding-right: 1008px;}
.container-24 .suffix-22 {padding-right: 1056px;}
.container-24 .suffix-23 {padding-right: 1104px;}

/* `Push Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .push-1 {left: 48px;}
.container-24 .push-2 {left: 96px;}
.container-24 .push-3 {left: 144px;}
.container-24 .push-4 {left: 192px;}
.container-24 .push-5 {left: 240px;}
.container-24 .push-6 {left: 288px;}
.container-24 .push-7 {left: 336px;}
.container-24 .push-8 {left: 384px;}
.container-24 .push-9 {left: 432px;}
.container-24 .push-10 {left: 480px;}
.container-24 .push-11 {left: 528px;}
.container-24 .push-12 {left: 576px;}
.container-24 .push-13 {left: 624px;}
.container-24 .push-14 {left: 672px;}
.container-24 .push-15 {left: 720px;}
.container-24 .push-16 {left: 768px;}
.container-24 .push-17 {left: 816px;}
.container-24 .push-18 {left: 864px;}
.container-24 .push-19 {left: 912px;}
.container-24 .push-20 {left: 960px;}
.container-24 .push-21 {left: 1008px;}
.container-24 .push-22 {left: 1056px;}
.container-24 .push-23 {left: 1104px;}

/* `Pull Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .pull-1 {left: -48px;}
.container-24 .pull-2 {left: -96px;}
.container-24 .pull-3 {left: -144px;}
.container-24 .pull-4 {left: -192px;}
.container-24 .pull-5 {left: -240px;}
.container-24 .pull-6 {left: -288px;}
.container-24 .pull-7 {left: -336px;}
.container-24 .pull-8 {left: -384px;}
.container-24 .pull-9 {left: -432px;}
.container-24 .pull-10 {left: -480px;}
.container-24 .pull-11 {left: -528px;}
.container-24 .pull-12 {left: -576px;}
.container-24 .pull-13 {left: -624px;}
.container-24 .pull-14 {left: -672px;}
.container-24 .pull-15 {left: -720px;}
.container-24 .pull-16 {left: -768px;}
.container-24 .pull-17 {left: -816px;}
.container-24 .pull-18 {left: -864px;}
.container-24 .pull-19 {left: -912px;}
.container-24 .pull-20 {left: -960px;}
.container-24 .pull-21 {left: -1008px;}
.container-24 .pull-22 {left: -1056px;}
.container-24 .pull-23 {left: -1104px;}

