/*
1440px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

.block { width: 100%; margin: 0px; display: inline; float: left; }
.grid-0 { display:none; }

/* =Containers
--------------------------------------------------------------------------------*/
.container-12,
.container-16,
.container-24

/* =Grid >> Global
--------------------------------------------------------------------------------*/
/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

/* 12 & 16 Grids */
.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,.grid-17,.grid-18,.grid-19,.grid-20,.grid-21,.grid-22,.grid-23,.grid-24 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* 24 Grids  Gutter*/
.container-24 .grid-1,
.container-24 .grid-2,
.container-24 .grid-3,
.container-24 .grid-4,
.container-24 .grid-5,
.container-24 .grid-6,
.container-24 .grid-7,
.container-24 .grid-8,
.container-24 .grid-9,
.container-24 .grid-10,
.container-24 .grid-11,
.container-24 .grid-12,
.container-24 .grid-13,
.container-24 .grid-14,
.container-24 .grid-15,
.container-24 .grid-16,
.container-24 .grid-17,
.container-24 .grid-18,
.container-24 .grid-19,
.container-24 .grid-20,
.container-24 .grid-21,
.container-24 .grid-22,
.container-24 .grid-23,
.container-24 .grid-24 {
  margin-left:5px;margin-right:5px
}


.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .grid-1 {width: 100px;}
.container-12 .grid-2 {width: 220px;}
.container-12 .grid-3 {width: 340px;}
.container-12 .grid-4 {width: 460px;}
.container-12 .grid-5 {width: 580px;}
.container-12 .grid-6 {width: 700px;}
.container-12 .grid-7 {width: 820px;}
.container-12 .grid-8 {width: 940px;}
.container-12 .grid-9 {width: 1060px;}
.container-12 .grid-10 {width: 1180px;}
.container-12 .grid-11 {width: 1300px;}
.container-12 .grid-12 {width: 1420px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .prefix-1 {padding-left: 120px;}
.container-12 .prefix-2 {padding-left: 240px;}
.container-12 .prefix-3 {padding-left: 360px;}
.container-12 .prefix-4 {padding-left: 480px;}
.container-12 .prefix-5 {padding-left: 600px;}
.container-12 .prefix-6 {padding-left: 720px;}
.container-12 .prefix-7 {padding-left: 840px;}
.container-12 .prefix-8 {padding-left: 960px;}
.container-12 .prefix-9 {padding-left: 1080px;}
.container-12 .prefix-10 {padding-left: 1200px;}
.container-12 .prefix-11 {padding-left: 1320px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .suffix-1 {padding-right: 120px;}
.container-12 .suffix-2 {padding-right: 240px;}
.container-12 .suffix-3 {padding-right: 360px;}
.container-12 .suffix-4 {padding-right: 480px;}
.container-12 .suffix-5 {padding-right: 600px;}
.container-12 .suffix-6 {padding-right: 720px;}
.container-12 .suffix-7 {padding-right: 840px;}
.container-12 .suffix-8 {padding-right: 960px;}
.container-12 .suffix-9 {padding-right: 1080px;}
.container-12 .suffix-10 {padding-right: 1200px;}
.container-12 .suffix-11 {padding-right: 1320px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .push-1 {left: 120px;}
.container-12 .push-2 {left: 240px;}
.container-12 .push-3 {left: 360px;}
.container-12 .push-4 {left: 480px;}
.container-12 .push-5 {left: 600px;}
.container-12 .push-6 {left: 720px;}
.container-12 .push-7 {left: 840px;}
.container-12 .push-8 {left: 960px;}
.container-12 .push-9 {left: 1080px;}
.container-12 .push-10 {left: 1200px;}
.container-12 .push-11 {left: 1320px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .pull-1 {left: -120px;}
.container-12 .pull-2 {left: -240px;}
.container-12 .pull-3 {left: -360px;}
.container-12 .pull-4 {left: -480px;}
.container-12 .pull-5 {left: -600px;}
.container-12 .pull-6 {left: -720px;}
.container-12 .pull-7 {left: -840px;}
.container-12 .pull-8 {left: -960px;}
.container-12 .pull-9 {left: -1080px;}
.container-12 .pull-10 {left: -1200px;}
.container-12 .pull-11 {left: -1320px;}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .grid-1 {width: 70px;}
.container-16 .grid-2 {width: 160px;}
.container-16 .grid-3 {width: 250px;}
.container-16 .grid-4 {width: 340px;}
.container-16 .grid-5 {width: 430px;}
.container-16 .grid-6 {width: 520px;}
.container-16 .grid-7 {width: 610px;}
.container-16 .grid-8 {width: 700px;}
.container-16 .grid-9 {width: 790px;}
.container-16 .grid-10 {width: 880px;}
.container-16 .grid-11 {width: 970px;}
.container-16 .grid-12 {width: 1060px;}
.container-16 .grid-13 {width: 1150px;}
.container-16 .grid-14 {width: 1240px;}
.container-16 .grid-15 {width: 1330px;}
.container-16 .grid-16 {width: 1420px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .prefix-1 {padding-left: 90px;}
.container-16 .prefix-2 {padding-left: 180px;}
.container-16 .prefix-3 {padding-left: 270px;}
.container-16 .prefix-4 {padding-left: 360px;}
.container-16 .prefix-5 {padding-left: 450px;}
.container-16 .prefix-6 {padding-left: 540px;}
.container-16 .prefix-7 {padding-left: 630px;}
.container-16 .prefix-8 {padding-left: 720px;}
.container-16 .prefix-9 {padding-left: 810px;}
.container-16 .prefix-10 {padding-left: 900px;}
.container-16 .prefix-11 {padding-left: 990px;}
.container-16 .prefix-12 {padding-left: 1080px;}
.container-16 .prefix-13 {padding-left: 1170px;}
.container-16 .prefix-14 {padding-left: 1260px;}
.container-16 .prefix-15 {padding-left: 1350px;}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .suffix-1 {padding-right: 90px;}
.container-16 .suffix-2 {padding-right: 180px;}
.container-16 .suffix-3 {padding-right: 270px;}
.container-16 .suffix-4 {padding-right: 360px;}
.container-16 .suffix-5 {padding-right: 450px;}
.container-16 .suffix-6 {padding-right: 540px;}
.container-16 .suffix-7 {padding-right: 630px;}
.container-16 .suffix-8 {padding-right: 720px;}
.container-16 .suffix-9 {padding-right: 810px;}
.container-16 .suffix-10 {padding-right: 900px;}
.container-16 .suffix-11 {padding-right: 990px;}
.container-16 .suffix-12 {padding-right: 1080px;}
.container-16 .suffix-13 {padding-right: 1170px;}
.container-16 .suffix-14 {padding-right: 1260px;}
.container-16 .suffix-15 {padding-right: 1350px;}

/* `Push Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .push-1 {left: 90px;}
.container-16 .push-2 {left: 180px;}
.container-16 .push-3 {left: 270px;}
.container-16 .push-4 {left: 360px;}
.container-16 .push-5 {left: 450px;}
.container-16 .push-6 {left: 540px;}
.container-16 .push-7 {left: 630px;}
.container-16 .push-8 {left: 720px;}
.container-16 .push-9 {left: 810px;}
.container-16 .push-10 {left: 900px;}
.container-16 .push-11 {left: 990px;}
.container-16 .push-12 {left: 1080px;}
.container-16 .push-13 {left: 1170px;}
.container-16 .push-14 {left: 1260px;}
.container-16 .push-15 {left: 1350px;}

/* `Pull Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .pull-1 {left: -90px;}
.container-16 .pull-2 {left: -180px;}
.container-16 .pull-3 {left: -270px;}
.container-16 .pull-4 {left: -360px;}
.container-16 .pull-5 {left: -450px;}
.container-16 .pull-6 {left: -540px;}
.container-16 .pull-7 {left: -630px;}
.container-16 .pull-8 {left: -720px;}
.container-16 .pull-9 {left: -810px;}
.container-16 .pull-10 {left: -900px;}
.container-16 .pull-11 {left: -990px;}
.container-16 .pull-12 {left: -1080px;}
.container-16 .pull-13 {left: -1170px;}
.container-16 .pull-14 {left: -1260px;}
.container-16 .pull-15 {left: -1350px;}

/* =Grid >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .grid-1 {width: 50px;}
.container-24 .grid-2 {width: 110px;}
.container-24 .grid-3 {width: 170px;}
.container-24 .grid-4 {width: 230px;}
.container-24 .grid-5 {width: 290px;}
.container-24 .grid-6 {width: 350px;}
.container-24 .grid-7 {width: 410px;}
.container-24 .grid-8 {width: 470px;}
.container-24 .grid-9 {width: 530px;}
.container-24 .grid-10 {width: 590px;}
.container-24 .grid-11 {width: 650px;}
.container-24 .grid-12 {width: 710px;}
.container-24 .grid-13 {width: 770px;}
.container-24 .grid-14 {width: 830px;}
.container-24 .grid-15 {width: 890px;}
.container-24 .grid-16 {width: 950px;}
.container-24 .grid-17 {width: 1010px;}
.container-24 .grid-18 {width: 1070px;}
.container-24 .grid-19 {width: 1130px;}
.container-24 .grid-20 {width: 1190px;}
.container-24 .grid-21 {width: 1250px;}
.container-24 .grid-22 {width: 1310px;}
.container-24 .grid-23 {width: 1370px;}
.container-24 .grid-24 {width: 1430px;}

/* =Prefix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .prefix-1 {padding-left: 60px;}
.container-24 .prefix-2 {padding-left: 120px;}
.container-24 .prefix-3 {padding-left: 180px;}
.container-24 .prefix-4 {padding-left: 240px;}
.container-24 .prefix-5 {padding-left: 300px;}
.container-24 .prefix-6 {padding-left: 360px;}
.container-24 .prefix-7 {padding-left: 420px;}
.container-24 .prefix-8 {padding-left: 480px;}
.container-24 .prefix-9 {padding-left: 540px;}
.container-24 .prefix-10 {padding-left: 600px;}
.container-24 .prefix-11 {padding-left: 660px;}
.container-24 .prefix-12 {padding-left: 720px;}
.container-24 .prefix-13 {padding-left: 780px;}
.container-24 .prefix-14 {padding-left: 840px;}
.container-24 .prefix-15 {padding-left: 900px;}
.container-24 .prefix-16 {padding-left: 960px;}
.container-24 .prefix-17 {padding-left: 1020px;}
.container-24 .prefix-18 {padding-left: 1080px;}
.container-24 .prefix-19 {padding-left: 1140px;}
.container-24 .prefix-20 {padding-left: 1200px;}
.container-24 .prefix-21 {padding-left: 1260px;}
.container-24 .prefix-22 {padding-left: 1320px;}
.container-24 .prefix-23 {padding-left: 1380px;}

/* =Suffix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .suffix-1 {padding-right: 60px;}
.container-24 .suffix-2 {padding-right: 120px;}
.container-24 .suffix-3 {padding-right: 180px;}
.container-24 .suffix-4 {padding-right: 240px;}
.container-24 .suffix-5 {padding-right: 300px;}
.container-24 .suffix-6 {padding-right: 360px;}
.container-24 .suffix-7 {padding-right: 420px;}
.container-24 .suffix-8 {padding-right: 480px;}
.container-24 .suffix-9 {padding-right: 540px;}
.container-24 .suffix-10 {padding-right: 600px;}
.container-24 .suffix-11 {padding-right: 660px;}
.container-24 .suffix-12 {padding-right: 720px;}
.container-24 .suffix-13 {padding-right: 780px;}
.container-24 .suffix-14 {padding-right: 840px;}
.container-24 .suffix-15 {padding-right: 900px;}
.container-24 .suffix-16 {padding-right: 960px;}
.container-24 .suffix-17 {padding-right: 1020px;}
.container-24 .suffix-18 {padding-right: 1080px;}
.container-24 .suffix-19 {padding-right: 1140px;}
.container-24 .suffix-20 {padding-right: 1200px;}
.container-24 .suffix-21 {padding-right: 1260px;}
.container-24 .suffix-22 {padding-right: 1320px;}
.container-24 .suffix-23 {padding-right: 1380px;}

/* `Push Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .push-1 {left: 60px;}
.container-24 .push-2 {left: 120px;}
.container-24 .push-3 {left: 180px;}
.container-24 .push-4 {left: 240px;}
.container-24 .push-5 {left: 300px;}
.container-24 .push-6 {left: 360px;}
.container-24 .push-7 {left: 420px;}
.container-24 .push-8 {left: 480px;}
.container-24 .push-9 {left: 540px;}
.container-24 .push-10 {left: 600px;}
.container-24 .push-11 {left: 660px;}
.container-24 .push-12 {left: 720px;}
.container-24 .push-13 {left: 780px;}
.container-24 .push-14 {left: 840px;}
.container-24 .push-15 {left: 900px;}
.container-24 .push-16 {left: 960px;}
.container-24 .push-17 {left: 1020px;}
.container-24 .push-18 {left: 1080px;}
.container-24 .push-19 {left: 1140px;}
.container-24 .push-20 {left: 1200px;}
.container-24 .push-21 {left: 1260px;}
.container-24 .push-22 {left: 1320px;}
.container-24 .push-23 {left: 1380px;}

/* `Pull Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .pull-1 {left: -60px;}
.container-24 .pull-2 {left: -120px;}
.container-24 .pull-3 {left: -180px;}
.container-24 .pull-4 {left: -240px;}
.container-24 .pull-5 {left: -300px;}
.container-24 .pull-6 {left: -360px;}
.container-24 .pull-7 {left: -420px;}
.container-24 .pull-8 {left: -480px;}
.container-24 .pull-9 {left: -540px;}
.container-24 .pull-10 {left: -600px;}
.container-24 .pull-11 {left: -660px;}
.container-24 .pull-12 {left: -720px;}
.container-24 .pull-13 {left: -780px;}
.container-24 .pull-14 {left: -840px;}
.container-24 .pull-15 {left: -900px;}
.container-24 .pull-16 {left: -960px;}
.container-24 .pull-17 {left: -1020px;}
.container-24 .pull-18 {left: -1080px;}
.container-24 .pull-19 {left: -1140px;}
.container-24 .pull-20 {left: -1200px;}
.container-24 .pull-21 {left: -1260px;}
.container-24 .pull-22 {left: -1320px;}
.container-24 .pull-23 {left: -1380px;}