/*
336px grid system ~ Core CSS.
12 Columns ~ Margin left: 0px ~ Margin right: 0px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

.block { width: 100%; margin: 0px; display: inline; float: left; }
.grid-0 { display:none; }

/* =Containers
--------------------------------------------------------------------------------*/
.container-12,
.container-16,
.container-24 
{ 
        margin-left: auto;
        margin-right: auto;
        width: 336px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/

/* 24 Grids  Gutter*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
  display: inline;
	float: left;
  margin-left:0px;margin-right:0px
}


.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .grid-1 {width: 28px;}
.container-12 .grid-2 {width: 56px;}
.container-12 .grid-3 {width: 84px;}
.container-12 .grid-4 {width: 112px;}
.container-12 .grid-5 {width: 140px;}
.container-12 .grid-6 {width: 168px;}
.container-12 .grid-7 {width: 196px;}
.container-12 .grid-8 {width: 224px;}
.container-12 .grid-9 {width: 252px;}
.container-12 .grid-10 {width: 280px;}
.container-12 .grid-11 {width: 308px;}
.container-12 .grid-12 {width: 336px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .prefix-1 {padding-left: 28px;}
.container-12 .prefix-2 {padding-left: 56px;}
.container-12 .prefix-3 {padding-left: 84px;}
.container-12 .prefix-4 {padding-left: 112px;}
.container-12 .prefix-5 {padding-left: 140px;}
.container-12 .prefix-6 {padding-left: 168px;}
.container-12 .prefix-7 {padding-left: 196px;}
.container-12 .prefix-8 {padding-left: 224px;}
.container-12 .prefix-9 {padding-left: 252px;}
.container-12 .prefix-10 {padding-left: 280px;}
.container-12 .prefix-11 {padding-left: 308px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .suffix-1 {padding-right: 28px;}
.container-12 .suffix-2 {padding-right: 56px;}
.container-12 .suffix-3 {padding-right: 84px;}
.container-12 .suffix-4 {padding-right: 112px;}
.container-12 .suffix-5 {padding-right: 140px;}
.container-12 .suffix-6 {padding-right: 168px;}
.container-12 .suffix-7 {padding-right: 196px;}
.container-12 .suffix-8 {padding-right: 224px;}
.container-12 .suffix-9 {padding-right: 252px;}
.container-12 .suffix-10 {padding-right: 280px;}
.container-12 .suffix-11 {padding-right: 308px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .push-1 {left: 28px;}
.container-12 .push-2 {left: 56px;}
.container-12 .push-3 {left: 84px;}
.container-12 .push-4 {left: 112px;}
.container-12 .push-5 {left: 140px;}
.container-12 .push-6 {left: 168px;}
.container-12 .push-7 {left: 196px;}
.container-12 .push-8 {left: 224px;}
.container-12 .push-9 {left: 252px;}
.container-12 .push-10 {left: 280px;}
.container-12 .push-11 {left: 308px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .pull-1 {left: -28px;}
.container-12 .pull-2 {left: -56px;}
.container-12 .pull-3 {left: -84px;}
.container-12 .pull-4 {left: -112px;}
.container-12 .pull-5 {left: -140px;}
.container-12 .pull-6 {left: -168px;}
.container-12 .pull-7 {left: -196px;}
.container-12 .pull-8 {left: -224px;}
.container-12 .pull-9 {left: -252px;}
.container-12 .pull-10 {left: -280px;}
.container-12 .pull-11 {left: -308px;}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .grid-1 {width: 21px;}
.container-16 .grid-2 {width: 42px;}
.container-16 .grid-3 {width: 63px;}
.container-16 .grid-4 {width: 84px;}
.container-16 .grid-5 {width: 105px;}
.container-16 .grid-6 {width: 126px;}
.container-16 .grid-7 {width: 147px;}
.container-16 .grid-8 {width: 168px;}
.container-16 .grid-9 {width: 189px;}
.container-16 .grid-10 {width: 210px;}
.container-16 .grid-11 {width: 231px;}
.container-16 .grid-12 {width: 252px;}
.container-16 .grid-13 {width: 273px;}
.container-16 .grid-14 {width: 294px;}
.container-16 .grid-15 {width: 315px;}
.container-16 .grid-16 {width: 336px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .prefix-1 {padding-left: 21px;}
.container-16 .prefix-2 {padding-left: 42px;}
.container-16 .prefix-3 {padding-left: 63px;}
.container-16 .prefix-4 {padding-left: 84px;}
.container-16 .prefix-5 {padding-left: 105px;}
.container-16 .prefix-6 {padding-left: 126px;}
.container-16 .prefix-7 {padding-left: 147px;}
.container-16 .prefix-8 {padding-left: 168px;}
.container-16 .prefix-9 {padding-left: 189px;}
.container-16 .prefix-10 {padding-left: 210px;}
.container-16 .prefix-11 {padding-left: 231px;}
.container-16 .prefix-12 {padding-left: 252px;}
.container-16 .prefix-13 {padding-left: 273px;}
.container-16 .prefix-14 {padding-left: 294px;}
.container-16 .prefix-15 {padding-left: 315px;}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .suffix-1 {padding-right: 21px;}
.container-16 .suffix-2 {padding-right: 42px;}
.container-16 .suffix-3 {padding-right: 63px;}
.container-16 .suffix-4 {padding-right: 84px;}
.container-16 .suffix-5 {padding-right: 105px;}
.container-16 .suffix-6 {padding-right: 126px;}
.container-16 .suffix-7 {padding-right: 147px;}
.container-16 .suffix-8 {padding-right: 168px;}
.container-16 .suffix-9 {padding-right: 189px;}
.container-16 .suffix-10 {padding-right: 210px;}
.container-16 .suffix-11 {padding-right: 231px;}
.container-16 .suffix-12 {padding-right: 252px;}
.container-16 .suffix-13 {padding-right: 273px;}
.container-16 .suffix-14 {padding-right: 294px;}
.container-16 .suffix-15 {padding-right: 315px;}

/* `Push Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .push-1 {left: 21px;}
.container-16 .push-2 {left: 42px;}
.container-16 .push-3 {left: 63px;}
.container-16 .push-4 {left: 84px;}
.container-16 .push-5 {left: 105px;}
.container-16 .push-6 {left: 126px;}
.container-16 .push-7 {left: 147px;}
.container-16 .push-8 {left: 168px;}
.container-16 .push-9 {left: 189px;}
.container-16 .push-10 {left: 210px;}
.container-16 .push-11 {left: 231px;}
.container-16 .push-12 {left: 252px;}
.container-16 .push-13 {left: 273px;}
.container-16 .push-14 {left: 294px;}
.container-16 .push-15 {left: 315px;}

/* `Pull Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .pull-1 {left: -21px;}
.container-16 .pull-2 {left: -42px;}
.container-16 .pull-3 {left: -63px;}
.container-16 .pull-4 {left: -84px;}
.container-16 .pull-5 {left: -105px;}
.container-16 .pull-6 {left: -126px;}
.container-16 .pull-7 {left: -147px;}
.container-16 .pull-8 {left: -168px;}
.container-16 .pull-9 {left: -189px;}
.container-16 .pull-10 {left: -210px;}
.container-16 .pull-11 {left: -231px;}
.container-16 .pull-12 {left: -252px;}
.container-16 .pull-13 {left: -273px;}
.container-16 .pull-14 {left: -294px;}
.container-16 .pull-15 {left: -315px;}

/* =Grid >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .grid-1 {width: 14px;}
.container-24 .grid-2 {width: 28px;}
.container-24 .grid-3 {width: 42px;}
.container-24 .grid-4 {width: 56px;}
.container-24 .grid-5 {width: 70px;}
.container-24 .grid-6 {width: 84px;}
.container-24 .grid-7 {width: 98px;}
.container-24 .grid-8 {width: 112px;}
.container-24 .grid-9 {width: 126px;}
.container-24 .grid-10 {width: 140px;}
.container-24 .grid-11 {width: 154px;}
.container-24 .grid-12 {width: 168px;}
.container-24 .grid-13 {width: 182px;}
.container-24 .grid-14 {width: 196px;}
.container-24 .grid-15 {width: 210px;}
.container-24 .grid-16 {width: 224px;}
.container-24 .grid-17 {width: 238px;}
.container-24 .grid-18 {width: 252px;}
.container-24 .grid-19 {width: 266px;}
.container-24 .grid-20 {width: 280px;}
.container-24 .grid-21 {width: 294px;}
.container-24 .grid-22 {width: 308px;}
.container-24 .grid-23 {width: 322px;}
.container-24 .grid-24 {width: 336px;}

/* =Prefix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .prefix-1 {padding-left: 14px;}
.container-24 .prefix-2 {padding-left: 28px;}
.container-24 .prefix-3 {padding-left: 42px;}
.container-24 .prefix-4 {padding-left: 56px;}
.container-24 .prefix-5 {padding-left: 70px;}
.container-24 .prefix-6 {padding-left: 84px;}
.container-24 .prefix-7 {padding-left: 98px;}
.container-24 .prefix-8 {padding-left: 112px;}
.container-24 .prefix-9 {padding-left: 126px;}
.container-24 .prefix-10 {padding-left: 140px;}
.container-24 .prefix-11 {padding-left: 154px;}
.container-24 .prefix-12 {padding-left: 168px;}
.container-24 .prefix-13 {padding-left: 182px;}
.container-24 .prefix-14 {padding-left: 196px;}
.container-24 .prefix-15 {padding-left: 210px;}
.container-24 .prefix-16 {padding-left: 224px;}
.container-24 .prefix-17 {padding-left: 238px;}
.container-24 .prefix-18 {padding-left: 252px;}
.container-24 .prefix-19 {padding-left: 266px;}
.container-24 .prefix-20 {padding-left: 280px;}
.container-24 .prefix-21 {padding-left: 294px;}
.container-24 .prefix-22 {padding-left: 308px;}
.container-24 .prefix-23 {padding-left: 322px;}

/* =Suffix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .suffix-1 {padding-right: 14px;}
.container-24 .suffix-2 {padding-right: 28px;}
.container-24 .suffix-3 {padding-right: 42px;}
.container-24 .suffix-4 {padding-right: 56px;}
.container-24 .suffix-5 {padding-right: 70px;}
.container-24 .suffix-6 {padding-right: 84px;}
.container-24 .suffix-7 {padding-right: 98px;}
.container-24 .suffix-8 {padding-right: 112px;}
.container-24 .suffix-9 {padding-right: 126px;}
.container-24 .suffix-10 {padding-right: 140px;}
.container-24 .suffix-11 {padding-right: 154px;}
.container-24 .suffix-12 {padding-right: 168px;}
.container-24 .suffix-13 {padding-right: 182px;}
.container-24 .suffix-14 {padding-right: 196px;}
.container-24 .suffix-15 {padding-right: 210px;}
.container-24 .suffix-16 {padding-right: 224px;}
.container-24 .suffix-17 {padding-right: 238px;}
.container-24 .suffix-18 {padding-right: 252px;}
.container-24 .suffix-19 {padding-right: 266px;}
.container-24 .suffix-20 {padding-right: 280px;}
.container-24 .suffix-21 {padding-right: 294px;}
.container-24 .suffix-22 {padding-right: 308px;}
.container-24 .suffix-23 {padding-right: 322px;}

/* `Push Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .push-1 {left: 14px;}
.container-24 .push-2 {left: 28px;}
.container-24 .push-3 {left: 42px;}
.container-24 .push-4 {left: 56px;}
.container-24 .push-5 {left: 70px;}
.container-24 .push-6 {left: 84px;}
.container-24 .push-7 {left: 98px;}
.container-24 .push-8 {left: 112px;}
.container-24 .push-9 {left: 126px;}
.container-24 .push-10 {left: 140px;}
.container-24 .push-11 {left: 154px;}
.container-24 .push-12 {left: 168px;}
.container-24 .push-13 {left: 182px;}
.container-24 .push-14 {left: 196px;}
.container-24 .push-15 {left: 210px;}
.container-24 .push-16 {left: 224px;}
.container-24 .push-17 {left: 238px;}
.container-24 .push-18 {left: 252px;}
.container-24 .push-19 {left: 266px;}
.container-24 .push-20 {left: 280px;}
.container-24 .push-21 {left: 294px;}
.container-24 .push-22 {left: 308px;}
.container-24 .push-23 {left: 322px;}

/* `Pull Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .pull-1 {left: -14px;}
.container-24 .pull-2 {left: -28px;}
.container-24 .pull-3 {left: -42px;}
.container-24 .pull-4 {left: -56px;}
.container-24 .pull-5 {left: -70px;}
.container-24 .pull-6 {left: -84px;}
.container-24 .pull-7 {left: -98px;}
.container-24 .pull-8 {left: -112px;}
.container-24 .pull-9 {left: -126px;}
.container-24 .pull-10 {left: -140px;}
.container-24 .pull-11 {left: -154px;}
.container-24 .pull-12 {left: -168px;}
.container-24 .pull-13 {left: -182px;}
.container-24 .pull-14 {left: -196px;}
.container-24 .pull-15 {left: -210px;}
.container-24 .pull-16 {left: -224px;}
.container-24 .pull-17 {left: -238px;}
.container-24 .pull-18 {left: -252px;}
.container-24 .pull-19 {left: -266px;}
.container-24 .pull-20 {left: -280px;}
.container-24 .pull-21 {left: -294px;}
.container-24 .pull-22 {left: -308px;}
.container-24 .pull-23 {left: -322px;}