/*
624px grid system ~ Core CSS.
12 Columns ~ Margin left: 0px ~ Margin right: 0px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

.block { width: 100%; margin: 0px; display: inline; float: left; }
.grid-0 { display:none; }

/* =Containers
--------------------------------------------------------------------------------*/
.container-12,
.container-16,
.container-24 
{
        margin-left: auto;
        margin-right: auto;
        width: 624px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
/* 24 Grids  Gutter*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
  display: inline;
	float: left;
  margin-left:0px;margin-right:0px
}


.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .grid-1 {width: 52px;}
.container-12 .grid-2 {width: 104px;}
.container-12 .grid-3 {width: 156px;}
.container-12 .grid-4 {width: 208px;}
.container-12 .grid-5 {width: 260px;}
.container-12 .grid-6 {width: 312px;}
.container-12 .grid-7 {width: 364px;}
.container-12 .grid-8 {width: 416px;}
.container-12 .grid-9 {width: 468px;}
.container-12 .grid-10 {width: 520px;}
.container-12 .grid-11 {width: 572px;}
.container-12 .grid-12 {width: 624px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .prefix-1 {padding-left: 52px;}
.container-12 .prefix-2 {padding-left: 104px;}
.container-12 .prefix-3 {padding-left: 156px;}
.container-12 .prefix-4 {padding-left: 208px;}
.container-12 .prefix-5 {padding-left: 260px;}
.container-12 .prefix-6 {padding-left: 312px;}
.container-12 .prefix-7 {padding-left: 364px;}
.container-12 .prefix-8 {padding-left: 416px;}
.container-12 .prefix-9 {padding-left: 468px;}
.container-12 .prefix-10 {padding-left: 520px;}
.container-12 .prefix-11 {padding-left: 572px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .suffix-1 {padding-right: 52px;}
.container-12 .suffix-2 {padding-right: 104px;}
.container-12 .suffix-3 {padding-right: 156px;}
.container-12 .suffix-4 {padding-right: 208px;}
.container-12 .suffix-5 {padding-right: 260px;}
.container-12 .suffix-6 {padding-right: 312px;}
.container-12 .suffix-7 {padding-right: 364px;}
.container-12 .suffix-8 {padding-right: 416px;}
.container-12 .suffix-9 {padding-right: 468px;}
.container-12 .suffix-10 {padding-right: 520px;}
.container-12 .suffix-11 {padding-right: 572px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .push-1 {left: 52px;}
.container-12 .push-2 {left: 104px;}
.container-12 .push-3 {left: 156px;}
.container-12 .push-4 {left: 208px;}
.container-12 .push-5 {left: 260px;}
.container-12 .push-6 {left: 312px;}
.container-12 .push-7 {left: 364px;}
.container-12 .push-8 {left: 416px;}
.container-12 .push-9 {left: 468px;}
.container-12 .push-10 {left: 520px;}
.container-12 .push-11 {left: 572px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .pull-1 {left: -52px;}
.container-12 .pull-2 {left: -104px;}
.container-12 .pull-3 {left: -156px;}
.container-12 .pull-4 {left: -208px;}
.container-12 .pull-5 {left: -260px;}
.container-12 .pull-6 {left: -312px;}
.container-12 .pull-7 {left: -364px;}
.container-12 .pull-8 {left: -416px;}
.container-12 .pull-9 {left: -468px;}
.container-12 .pull-10 {left: -520px;}
.container-12 .pull-11 {left: -572px;}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .grid-1 {width: 29px;}
.container-16 .grid-2 {width: 68px;}
.container-16 .grid-3 {width: 107px;}
.container-16 .grid-4 {width: 146px;}
.container-16 .grid-5 {width: 185px;}
.container-16 .grid-6 {width: 224px;}
.container-16 .grid-7 {width: 263px;}
.container-16 .grid-8 {width: 302px;}
.container-16 .grid-9 {width: 341px;}
.container-16 .grid-10 {width: 380px;}
.container-16 .grid-11 {width: 419px;}
.container-16 .grid-12 {width: 458px;}
.container-16 .grid-13 {width: 497px;}
.container-16 .grid-14 {width: 536px;}
.container-16 .grid-15 {width: 575px;}
.container-16 .grid-16 {width: 614px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .prefix-1 {padding-left: 39px;}
.container-16 .prefix-2 {padding-left: 78px;}
.container-16 .prefix-3 {padding-left: 117px;}
.container-16 .prefix-4 {padding-left: 156px;}
.container-16 .prefix-5 {padding-left: 195px;}
.container-16 .prefix-6 {padding-left: 234px;}
.container-16 .prefix-7 {padding-left: 273px;}
.container-16 .prefix-8 {padding-left: 312px;}
.container-16 .prefix-9 {padding-left: 351px;}
.container-16 .prefix-10 {padding-left: 390px;}
.container-16 .prefix-11 {padding-left: 429px;}
.container-16 .prefix-12 {padding-left: 468px;}
.container-16 .prefix-13 {padding-left: 507px;}
.container-16 .prefix-14 {padding-left: 546px;}
.container-16 .prefix-15 {padding-left: 585px;}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .suffix-1 {padding-right: 39px;}
.container-16 .suffix-2 {padding-right: 78px;}
.container-16 .suffix-3 {padding-right: 117px;}
.container-16 .suffix-4 {padding-right: 156px;}
.container-16 .suffix-5 {padding-right: 195px;}
.container-16 .suffix-6 {padding-right: 234px;}
.container-16 .suffix-7 {padding-right: 273px;}
.container-16 .suffix-8 {padding-right: 312px;}
.container-16 .suffix-9 {padding-right: 351px;}
.container-16 .suffix-10 {padding-right: 390px;}
.container-16 .suffix-11 {padding-right: 429px;}
.container-16 .suffix-12 {padding-right: 468px;}
.container-16 .suffix-13 {padding-right: 507px;}
.container-16 .suffix-14 {padding-right: 546px;}
.container-16 .suffix-15 {padding-right: 585px;}

/* `Push Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .push-1 {left: 39px;}
.container-16 .push-2 {left: 78px;}
.container-16 .push-3 {left: 117px;}
.container-16 .push-4 {left: 156px;}
.container-16 .push-5 {left: 195px;}
.container-16 .push-6 {left: 234px;}
.container-16 .push-7 {left: 273px;}
.container-16 .push-8 {left: 312px;}
.container-16 .push-9 {left: 351px;}
.container-16 .push-10 {left: 390px;}
.container-16 .push-11 {left: 429px;}
.container-16 .push-12 {left: 468px;}
.container-16 .push-13 {left: 507px;}
.container-16 .push-14 {left: 546px;}
.container-16 .push-15 {left: 585px;}

/* `Pull Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .pull-1 {left: -39px;}
.container-16 .pull-2 {left: -78px;}
.container-16 .pull-3 {left: -117px;}
.container-16 .pull-4 {left: -156px;}
.container-16 .pull-5 {left: -195px;}
.container-16 .pull-6 {left: -234px;}
.container-16 .pull-7 {left: -273px;}
.container-16 .pull-8 {left: -312px;}
.container-16 .pull-9 {left: -351px;}
.container-16 .pull-10 {left: -390px;}
.container-16 .pull-11 {left: -429px;}
.container-16 .pull-12 {left: -468px;}
.container-16 .pull-13 {left: -507px;}
.container-16 .pull-14 {left: -546px;}
.container-16 .pull-15 {left: -585px;}

/* =Grid >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .grid-1 {width: 16px;}
.container-24 .grid-2 {width: 42px;}
.container-24 .grid-3 {width: 68px;}
.container-24 .grid-4 {width: 94px;}
.container-24 .grid-5 {width: 120px;}
.container-24 .grid-6 {width: 146px;}
.container-24 .grid-7 {width: 172px;}
.container-24 .grid-8 {width: 198px;}
.container-24 .grid-9 {width: 224px;}
.container-24 .grid-10 {width: 250px;}
.container-24 .grid-11 {width: 276px;}
.container-24 .grid-12 {width: 302px;}
.container-24 .grid-13 {width: 328px;}
.container-24 .grid-14 {width: 354px;}
.container-24 .grid-15 {width: 380px;}
.container-24 .grid-16 {width: 406px;}
.container-24 .grid-17 {width: 432px;}
.container-24 .grid-18 {width: 458px;}
.container-24 .grid-19 {width: 484px;}
.container-24 .grid-20 {width: 510px;}
.container-24 .grid-21 {width: 536px;}
.container-24 .grid-22 {width: 562px;}
.container-24 .grid-23 {width: 588px;}
.container-24 .grid-24 {width: 614px;}

/* =Prefix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .prefix-1 {padding-left: 26px;}
.container-24 .prefix-2 {padding-left: 52px;}
.container-24 .prefix-3 {padding-left: 78px;}
.container-24 .prefix-4 {padding-left: 104px;}
.container-24 .prefix-5 {padding-left: 130px;}
.container-24 .prefix-6 {padding-left: 156px;}
.container-24 .prefix-7 {padding-left: 182px;}
.container-24 .prefix-8 {padding-left: 208px;}
.container-24 .prefix-9 {padding-left: 234px;}
.container-24 .prefix-10 {padding-left: 260px;}
.container-24 .prefix-11 {padding-left: 286px;}
.container-24 .prefix-12 {padding-left: 312px;}
.container-24 .prefix-13 {padding-left: 338px;}
.container-24 .prefix-14 {padding-left: 364px;}
.container-24 .prefix-15 {padding-left: 390px;}
.container-24 .prefix-16 {padding-left: 416px;}
.container-24 .prefix-17 {padding-left: 442px;}
.container-24 .prefix-18 {padding-left: 468px;}
.container-24 .prefix-19 {padding-left: 494px;}
.container-24 .prefix-20 {padding-left: 520px;}
.container-24 .prefix-21 {padding-left: 546px;}
.container-24 .prefix-22 {padding-left: 572px;}
.container-24 .prefix-23 {padding-left: 598px;}

/* =Suffix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .suffix-1 {padding-right: 26px;}
.container-24 .suffix-2 {padding-right: 52px;}
.container-24 .suffix-3 {padding-right: 78px;}
.container-24 .suffix-4 {padding-right: 104px;}
.container-24 .suffix-5 {padding-right: 130px;}
.container-24 .suffix-6 {padding-right: 156px;}
.container-24 .suffix-7 {padding-right: 182px;}
.container-24 .suffix-8 {padding-right: 208px;}
.container-24 .suffix-9 {padding-right: 234px;}
.container-24 .suffix-10 {padding-right: 260px;}
.container-24 .suffix-11 {padding-right: 286px;}
.container-24 .suffix-12 {padding-right: 312px;}
.container-24 .suffix-13 {padding-right: 338px;}
.container-24 .suffix-14 {padding-right: 364px;}
.container-24 .suffix-15 {padding-right: 390px;}
.container-24 .suffix-16 {padding-right: 416px;}
.container-24 .suffix-17 {padding-right: 442px;}
.container-24 .suffix-18 {padding-right: 468px;}
.container-24 .suffix-19 {padding-right: 494px;}
.container-24 .suffix-20 {padding-right: 520px;}
.container-24 .suffix-21 {padding-right: 546px;}
.container-24 .suffix-22 {padding-right: 572px;}
.container-24 .suffix-23 {padding-right: 598px;}

/* `Push Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .push-1 {left: 26px;}
.container-24 .push-2 {left: 52px;}
.container-24 .push-3 {left: 78px;}
.container-24 .push-4 {left: 104px;}
.container-24 .push-5 {left: 130px;}
.container-24 .push-6 {left: 156px;}
.container-24 .push-7 {left: 182px;}
.container-24 .push-8 {left: 208px;}
.container-24 .push-9 {left: 234px;}
.container-24 .push-10 {left: 260px;}
.container-24 .push-11 {left: 286px;}
.container-24 .push-12 {left: 312px;}
.container-24 .push-13 {left: 338px;}
.container-24 .push-14 {left: 364px;}
.container-24 .push-15 {left: 390px;}
.container-24 .push-16 {left: 416px;}
.container-24 .push-17 {left: 442px;}
.container-24 .push-18 {left: 468px;}
.container-24 .push-19 {left: 494px;}
.container-24 .push-20 {left: 520px;}
.container-24 .push-21 {left: 546px;}
.container-24 .push-22 {left: 572px;}
.container-24 .push-23 {left: 598px;}

/* `Pull Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .pull-1 {left: -26px;}
.container-24 .pull-2 {left: -52px;}
.container-24 .pull-3 {left: -78px;}
.container-24 .pull-4 {left: -104px;}
.container-24 .pull-5 {left: -130px;}
.container-24 .pull-6 {left: -156px;}
.container-24 .pull-7 {left: -182px;}
.container-24 .pull-8 {left: -208px;}
.container-24 .pull-9 {left: -234px;}
.container-24 .pull-10 {left: -260px;}
.container-24 .pull-11 {left: -286px;}
.container-24 .pull-12 {left: -312px;}
.container-24 .pull-13 {left: -338px;}
.container-24 .pull-14 {left: -364px;}
.container-24 .pull-15 {left: -390px;}
.container-24 .pull-16 {left: -416px;}
.container-24 .pull-17 {left: -442px;}
.container-24 .pull-18 {left: -468px;}
.container-24 .pull-19 {left: -494px;}
.container-24 .pull-20 {left: -520px;}
.container-24 .pull-21 {left: -546px;}
.container-24 .pull-22 {left: -572px;}
.container-24 .pull-23 {left: -598px;}