/*
720px grid system ~ Core CSS.
12 Columns ~ Margin left: 5px ~ Margin right: 5px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

.block { width: 100%; margin: 0px; display: inline; float: left; }
.grid-0 { display:none; }

/* =Containers
--------------------------------------------------------------------------------*/
.container-12,
.container-16,
.container-24 
{
        margin-left: auto;
        margin-right: auto;
        width: 720px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
/* 24 Grids  Gutter*/
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
  display: inline;
	float: left;
  margin-left:0px;margin-right:0px
}


.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24 {
	position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .grid-1 {width: 50px;}
.container-12 .grid-2 {width: 110px;}
.container-12 .grid-3 {width: 170px;}
.container-12 .grid-4 {width: 230px;}
.container-12 .grid-5 {width: 290px;}
.container-12 .grid-6 {width: 350px;}
.container-12 .grid-7 {width: 410px;}
.container-12 .grid-8 {width: 470px;}
.container-12 .grid-9 {width: 530px;}
.container-12 .grid-10 {width: 590px;}
.container-12 .grid-11 {width: 650px;}
.container-12 .grid-12 {width: 710px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .prefix-1 {padding-left: 60px;}
.container-12 .prefix-2 {padding-left: 120px;}
.container-12 .prefix-3 {padding-left: 180px;}
.container-12 .prefix-4 {padding-left: 240px;}
.container-12 .prefix-5 {padding-left: 300px;}
.container-12 .prefix-6 {padding-left: 360px;}
.container-12 .prefix-7 {padding-left: 420px;}
.container-12 .prefix-8 {padding-left: 480px;}
.container-12 .prefix-9 {padding-left: 540px;}
.container-12 .prefix-10 {padding-left: 600px;}
.container-12 .prefix-11 {padding-left: 660px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .suffix-1 {padding-right: 60px;}
.container-12 .suffix-2 {padding-right: 120px;}
.container-12 .suffix-3 {padding-right: 180px;}
.container-12 .suffix-4 {padding-right: 240px;}
.container-12 .suffix-5 {padding-right: 300px;}
.container-12 .suffix-6 {padding-right: 360px;}
.container-12 .suffix-7 {padding-right: 420px;}
.container-12 .suffix-8 {padding-right: 480px;}
.container-12 .suffix-9 {padding-right: 540px;}
.container-12 .suffix-10 {padding-right: 600px;}
.container-12 .suffix-11 {padding-right: 660px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .push-1 {left: 60px;}
.container-12 .push-2 {left: 120px;}
.container-12 .push-3 {left: 180px;}
.container-12 .push-4 {left: 240px;}
.container-12 .push-5 {left: 300px;}
.container-12 .push-6 {left: 360px;}
.container-12 .push-7 {left: 420px;}
.container-12 .push-8 {left: 480px;}
.container-12 .push-9 {left: 540px;}
.container-12 .push-10 {left: 600px;}
.container-12 .push-11 {left: 660px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container-12 .pull-1 {left: -60px;}
.container-12 .pull-2 {left: -120px;}
.container-12 .pull-3 {left: -180px;}
.container-12 .pull-4 {left: -240px;}
.container-12 .pull-5 {left: -300px;}
.container-12 .pull-6 {left: -360px;}
.container-12 .pull-7 {left: -420px;}
.container-12 .pull-8 {left: -480px;}
.container-12 .pull-9 {left: -540px;}
.container-12 .pull-10 {left: -600px;}
.container-12 .pull-11 {left: -660px;}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .grid-1 {width: 35px;}
.container-16 .grid-2 {width: 80px;}
.container-16 .grid-3 {width: 125px;}
.container-16 .grid-4 {width: 170px;}
.container-16 .grid-5 {width: 215px;}
.container-16 .grid-6 {width: 260px;}
.container-16 .grid-7 {width: 305px;}
.container-16 .grid-8 {width: 350px;}
.container-16 .grid-9 {width: 395px;}
.container-16 .grid-10 {width: 440px;}
.container-16 .grid-11 {width: 485px;}
.container-16 .grid-12 {width: 530px;}
.container-16 .grid-13 {width: 575px;}
.container-16 .grid-14 {width: 620px;}
.container-16 .grid-15 {width: 665px;}
.container-16 .grid-16 {width: 710px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .prefix-1 {padding-left: 45px;}
.container-16 .prefix-2 {padding-left: 90px;}
.container-16 .prefix-3 {padding-left: 135px;}
.container-16 .prefix-4 {padding-left: 180px;}
.container-16 .prefix-5 {padding-left: 225px;}
.container-16 .prefix-6 {padding-left: 270px;}
.container-16 .prefix-7 {padding-left: 315px;}
.container-16 .prefix-8 {padding-left: 360px;}
.container-16 .prefix-9 {padding-left: 405px;}
.container-16 .prefix-10 {padding-left: 450px;}
.container-16 .prefix-11 {padding-left: 495px;}
.container-16 .prefix-12 {padding-left: 540px;}
.container-16 .prefix-13 {padding-left: 585px;}
.container-16 .prefix-14 {padding-left: 630px;}
.container-16 .prefix-15 {padding-left: 675px;}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .suffix-1 {padding-right: 45px;}
.container-16 .suffix-2 {padding-right: 90px;}
.container-16 .suffix-3 {padding-right: 135px;}
.container-16 .suffix-4 {padding-right: 180px;}
.container-16 .suffix-5 {padding-right: 225px;}
.container-16 .suffix-6 {padding-right: 270px;}
.container-16 .suffix-7 {padding-right: 315px;}
.container-16 .suffix-8 {padding-right: 360px;}
.container-16 .suffix-9 {padding-right: 405px;}
.container-16 .suffix-10 {padding-right: 450px;}
.container-16 .suffix-11 {padding-right: 495px;}
.container-16 .suffix-12 {padding-right: 540px;}
.container-16 .suffix-13 {padding-right: 585px;}
.container-16 .suffix-14 {padding-right: 630px;}
.container-16 .suffix-15 {padding-right: 675px;}

/* `Push Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .push-1 {left: 45px;}
.container-16 .push-2 {left: 90px;}
.container-16 .push-3 {left: 135px;}
.container-16 .push-4 {left: 180px;}
.container-16 .push-5 {left: 225px;}
.container-16 .push-6 {left: 270px;}
.container-16 .push-7 {left: 315px;}
.container-16 .push-8 {left: 360px;}
.container-16 .push-9 {left: 405px;}
.container-16 .push-10 {left: 450px;}
.container-16 .push-11 {left: 495px;}
.container-16 .push-12 {left: 540px;}
.container-16 .push-13 {left: 585px;}
.container-16 .push-14 {left: 630px;}
.container-16 .push-15 {left: 675px;}

/* `Pull Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container-16 .pull-1 {left: -45px;}
.container-16 .pull-2 {left: -90px;}
.container-16 .pull-3 {left: -135px;}
.container-16 .pull-4 {left: -180px;}
.container-16 .pull-5 {left: -225px;}
.container-16 .pull-6 {left: -270px;}
.container-16 .pull-7 {left: -315px;}
.container-16 .pull-8 {left: -360px;}
.container-16 .pull-9 {left: -405px;}
.container-16 .pull-10 {left: -450px;}
.container-16 .pull-11 {left: -495px;}
.container-16 .pull-12 {left: -540px;}
.container-16 .pull-13 {left: -585px;}
.container-16 .pull-14 {left: -630px;}
.container-16 .pull-15 {left: -675px;}

/* =Grid >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .grid-1 {width: 20px;}
.container-24 .grid-2 {width: 50px;}
.container-24 .grid-3 {width: 80px;}
.container-24 .grid-4 {width: 110px;}
.container-24 .grid-5 {width: 140px;}
.container-24 .grid-6 {width: 170px;}
.container-24 .grid-7 {width: 200px;}
.container-24 .grid-8 {width: 230px;}
.container-24 .grid-9 {width: 260px;}
.container-24 .grid-10 {width: 290px;}
.container-24 .grid-11 {width: 320px;}
.container-24 .grid-12 {width: 350px;}
.container-24 .grid-13 {width: 380px;}
.container-24 .grid-14 {width: 410px;}
.container-24 .grid-15 {width: 440px;}
.container-24 .grid-16 {width: 470px;}
.container-24 .grid-17 {width: 500px;}
.container-24 .grid-18 {width: 530px;}
.container-24 .grid-19 {width: 560px;}
.container-24 .grid-20 {width: 590px;}
.container-24 .grid-21 {width: 620px;}
.container-24 .grid-22 {width: 650px;}
.container-24 .grid-23 {width: 680px;}
.container-24 .grid-24 {width: 710px;}

/* =Prefix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .prefix-1 {padding-left: 30px;}
.container-24 .prefix-2 {padding-left: 60px;}
.container-24 .prefix-3 {padding-left: 90px;}
.container-24 .prefix-4 {padding-left: 120px;}
.container-24 .prefix-5 {padding-left: 150px;}
.container-24 .prefix-6 {padding-left: 180px;}
.container-24 .prefix-7 {padding-left: 210px;}
.container-24 .prefix-8 {padding-left: 240px;}
.container-24 .prefix-9 {padding-left: 270px;}
.container-24 .prefix-10 {padding-left: 300px;}
.container-24 .prefix-11 {padding-left: 330px;}
.container-24 .prefix-12 {padding-left: 360px;}
.container-24 .prefix-13 {padding-left: 390px;}
.container-24 .prefix-14 {padding-left: 420px;}
.container-24 .prefix-15 {padding-left: 450px;}
.container-24 .prefix-16 {padding-left: 480px;}
.container-24 .prefix-17 {padding-left: 510px;}
.container-24 .prefix-18 {padding-left: 540px;}
.container-24 .prefix-19 {padding-left: 570px;}
.container-24 .prefix-20 {padding-left: 600px;}
.container-24 .prefix-21 {padding-left: 630px;}
.container-24 .prefix-22 {padding-left: 660px;}
.container-24 .prefix-23 {padding-left: 690px;}

/* =Suffix Extra Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .suffix-1 {padding-right: 30px;}
.container-24 .suffix-2 {padding-right: 60px;}
.container-24 .suffix-3 {padding-right: 90px;}
.container-24 .suffix-4 {padding-right: 120px;}
.container-24 .suffix-5 {padding-right: 150px;}
.container-24 .suffix-6 {padding-right: 180px;}
.container-24 .suffix-7 {padding-right: 210px;}
.container-24 .suffix-8 {padding-right: 240px;}
.container-24 .suffix-9 {padding-right: 270px;}
.container-24 .suffix-10 {padding-right: 300px;}
.container-24 .suffix-11 {padding-right: 330px;}
.container-24 .suffix-12 {padding-right: 360px;}
.container-24 .suffix-13 {padding-right: 390px;}
.container-24 .suffix-14 {padding-right: 420px;}
.container-24 .suffix-15 {padding-right: 450px;}
.container-24 .suffix-16 {padding-right: 480px;}
.container-24 .suffix-17 {padding-right: 510px;}
.container-24 .suffix-18 {padding-right: 540px;}
.container-24 .suffix-19 {padding-right: 570px;}
.container-24 .suffix-20 {padding-right: 600px;}
.container-24 .suffix-21 {padding-right: 630px;}
.container-24 .suffix-22 {padding-right: 660px;}
.container-24 .suffix-23 {padding-right: 690px;}

/* `Push Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .push-1 {left: 30px;}
.container-24 .push-2 {left: 60px;}
.container-24 .push-3 {left: 90px;}
.container-24 .push-4 {left: 120px;}
.container-24 .push-5 {left: 150px;}
.container-24 .push-6 {left: 180px;}
.container-24 .push-7 {left: 210px;}
.container-24 .push-8 {left: 240px;}
.container-24 .push-9 {left: 270px;}
.container-24 .push-10 {left: 300px;}
.container-24 .push-11 {left: 330px;}
.container-24 .push-12 {left: 360px;}
.container-24 .push-13 {left: 390px;}
.container-24 .push-14 {left: 420px;}
.container-24 .push-15 {left: 450px;}
.container-24 .push-16 {left: 480px;}
.container-24 .push-17 {left: 510px;}
.container-24 .push-18 {left: 540px;}
.container-24 .push-19 {left: 570px;}
.container-24 .push-20 {left: 600px;}
.container-24 .push-21 {left: 630px;}
.container-24 .push-22 {left: 660px;}
.container-24 .push-23 {left: 690px;}

/* `Pull Space >> 24 Columns
--------------------------------------------------------------------------------*/
.container-24 .pull-1 {left: -30px;}
.container-24 .pull-2 {left: -60px;}
.container-24 .pull-3 {left: -90px;}
.container-24 .pull-4 {left: -120px;}
.container-24 .pull-5 {left: -150px;}
.container-24 .pull-6 {left: -180px;}
.container-24 .pull-7 {left: -210px;}
.container-24 .pull-8 {left: -240px;}
.container-24 .pull-9 {left: -270px;}
.container-24 .pull-10 {left: -300px;}
.container-24 .pull-11 {left: -330px;}
.container-24 .pull-12 {left: -360px;}
.container-24 .pull-13 {left: -390px;}
.container-24 .pull-14 {left: -420px;}
.container-24 .pull-15 {left: -450px;}
.container-24 .pull-16 {left: -480px;}
.container-24 .pull-17 {left: -510px;}
.container-24 .pull-18 {left: -540px;}
.container-24 .pull-19 {left: -570px;}
.container-24 .pull-20 {left: -600px;}
.container-24 .pull-21 {left: -630px;}
.container-24 .pull-22 {left: -660px;}
.container-24 .pull-23 {left: -690px;}