/*
960 Fluid Grid System ~ Core CSS.
Learn more ~ http://960.gs/
Licensed under GPL and MIT.
*/

/* =Containers
--------------------------------------------------------------------------------*/

.container-12,
.container-16,
.container-24
{
  width:96%;
  margin-left:2%;
  margin-right:2%;
}


/* =Grid >> Global
--------------------------------------------------------------------------------*/
.block,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16
{
  display:inline;
  float:left;
  margin-left:1%;
  margin-right:1%;
}

/* 24 grid */

.container-24 .grid-1,
.container-24 .grid-2,
.container-24 .grid-3,
.container-24 .grid-4,
.container-24 .grid-5,
.container-24 .grid-6,
.container-24 .grid-7,
.container-24 .grid-8,
.container-24 .grid-9,
.container-24 .grid-10,
.container-24 .grid-11,
.container-24 .grid-12,
.container-24 .grid-13,
.container-24 .grid-14,
.container-24 .grid-15,
.container-24 .grid-16,
.container-24 .grid-17,
.container-24 .grid-18,
.container-24 .grid-19,
.container-24 .grid-20,
.container-24 .grid-21,
.container-24 .grid-22,
.container-24 .grid-23,
.container-24 .grid-24 {
  margin-left: 0.5%;
  margin-right: 0.5%;
}



.block { width: 100%; margin: 0px; }


/* =Push Pull Grid >> Global
--------------------------------------------------------------------------------*/
.pull-1, .pull-2, .pull-3, .pull-4,
.pull-5, .pull-6, .pull-7, .pull-8,
.pull-9, .pull-10, .pull-11, .pull-12,
.pull-13, .pull-14, .pull-15, .pull-16,
.push-1, .push-2, .push-3, .push-4,
.push-5, .push-6, .push-7, .push-8,
.push-9, .push-10, .push-11, .push-12,
.push-13, .push-14, .push-15, .push-16,
.push-17, .pull-17, .push-18, .pull-18,
.push-19, .pull-19, .push-20, .pull-20,
.push-21, .pull-21, .push-22, .pull-22,
.push-23, .pull-23 {
  float:left;position:relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha  { margin-left:0       ;}
.omega  { margin-right:0      ;}
.alpha5 { margin-left:0.666%  ;}
.omega5 { margin-right:0.666% ;}
.alpha7 { margin-left:0.75%   ;}
.omega7 { margin-right:0.75%  ;}





/* 12 Grid Based Fluid */

/* fgrid 12 Columns 96/12  */
.container-12 .grid-1  { width: 6%  ;}
.container-12 .grid-2  { width: 14%  ;}
.container-12 .grid-3  { width: 22%   ;}
.container-12 .grid-4  { width: 34% ;}
.container-12 .grid-5  { width: 38% ;}
.container-12 .grid-6  { width: 46%     ;}
.container-12 .grid-7  { width: 54% ;}
.container-12 .grid-8  { width: 62% ;}
.container-12 .grid-9  { width: 70%   ;}
.container-12 .grid-10 { width: 78% ;}
.container-12 .grid-11 { width: 86% ;}
.container-12 .grid-12 { width: 94%     ;}


/* Prefix Extra 96/24 */
.container-12 .prefix-1  { padding-left: 8%  ;}
.container-12 .prefix-2  { padding-left: 16%  ;}
.container-12 .prefix-3  { padding-left: 24% ;}
.container-12 .prefix-4  { padding-left: 36% ;}
.container-12 .prefix-5  { padding-left: 40% ;}
.container-12 .prefix-6  { padding-left: 48% ;}
.container-12 .prefix-7  { padding-left: 56% ;}
.container-12 .prefix-8  { padding-left: 64% ;}
.container-12 .prefix-9  { padding-left: 72% ;}
.container-12 .prefix-10 { padding-left: 80% ;}
.container-12 .prefix-11 { padding-left: 88% ;}
.container-12 .prefix-12 { padding-left: 96% ;}


/* Suffix Extra Space 96/24 */
.container-12 .suffix-1  { padding-right: 8%  ;}
.container-12 .suffix-2  { padding-right: 16% ;}
.container-12 .suffix-3  { padding-right: 24% ;}
.container-12 .suffix-4  { padding-right: 36% ;}
.container-12 .suffix-5  { padding-right: 40% ;}
.container-12 .suffix-6  { padding-right: 48% ;}
.container-12 .suffix-7  { padding-right: 56% ;}
.container-12 .suffix-8  { padding-right: 64% ;}
.container-12 .suffix-9  { padding-right: 72% ;}
.container-12 .suffix-10 { padding-right: 80% ;}
.container-12 .suffix-11 { padding-right: 88% ;}
.container-12 .suffix-12 { padding-right: 96% ;}


/* Push Space */
.container-12 .push-1  { left: 8%  ;}
.container-12 .push-2  { left: 16% ;}
.container-12 .push-3  { left: 24% ;}
.container-12 .push-4  { left: 36% ;}
.container-12 .push-5  { left: 40% ;}
.container-12 .push-6  { left: 48% ;}
.container-12 .push-7  { left: 56% ;}
.container-12 .push-8  { left: 64% ;}
.container-12 .push-9  { left: 72% ;}
.container-12 .push-10 { left: 80% ;}
.container-12 .push-11 { left: 88% ;}
.container-12 .push-12 { left: 96% ;}


/* Pull Space */
.container-12 .pull-1  { left: -8%  ;}
.container-12 .pull-2  { left: -16% ;}
.container-12 .pull-3  { left: -24% ;}
.container-12 .pull-4  { left: -36% ;}
.container-12 .pull-5  { left: -40% ;}
.container-12 .pull-6  { left: -48% ;}
.container-12 .pull-7  { left: -56% ;}
.container-12 .pull-8  { left: -64% ;}
.container-12 .pull-9  { left: -72% ;}
.container-12 .pull-10 { left: -80% ;}
.container-12 .pull-11 { left: -88% ;}
.container-12 .pull-12 { left: -96% ;}






/* 16 Grid Based Fluid */

/* fgrid 24 Columns 96/16 */
.container-16 .grid-1  { width: 4%  ;}
.container-16 .grid-2  { width: 10%  ;}
.container-16 .grid-3  { width: 16%   ;}
.container-16 .grid-4  { width: 22% ;}
.container-16 .grid-5  { width: 28% ;}
.container-16 .grid-6  { width: 34%     ;}
.container-16 .grid-7  { width: 40% ;}
.container-16 .grid-8  { width: 46% ;}
.container-16 .grid-9  { width: 52%   ;}
.container-16 .grid-10 { width: 58% ;}
.container-16 .grid-11 { width: 64% ;}
.container-16 .grid-12 { width: 70%     ;}
.container-16 .grid-13 { width: 76% ;}
.container-16 .grid-14 { width: 82% ;}
.container-16 .grid-15 { width: 88%   ;}
.container-16 .grid-16 { width: 94% ;}


/* Prefix Extra 96/16 */
.container-16 .prefix-1  { padding-left: 6%  ;}
.container-16 .prefix-2  { padding-left: 12% ;}
.container-16 .prefix-3  { padding-left: 18% ;}
.container-16 .prefix-4  { padding-left: 24% ;}
.container-16 .prefix-5  { padding-left: 32% ;}
.container-16 .prefix-6  { padding-left: 36% ;}
.container-16 .prefix-7  { padding-left: 42% ;}
.container-16 .prefix-8  { padding-left: 48% ;}
.container-16 .prefix-9  { padding-left: 54% ;}
.container-16 .prefix-10 { padding-left: 60% ;}
.container-16 .prefix-11 { padding-left: 66% ;}
.container-16 .prefix-12 { padding-left: 72% ;}
.container-16 .prefix-13 { padding-left: 78% ;}
.container-16 .prefix-14 { padding-left: 84% ;}
.container-16 .prefix-15 { padding-left: 90% ;}
.container-16 .prefix-16 { padding-left: 96% ;}


/* Suffix Extra Space 96/16 */
.container-16 .suffix-1  { padding-right: 6%  ;}
.container-16 .suffix-2  { padding-right: 12% ;}
.container-16 .suffix-3  { padding-right: 18% ;}
.container-16 .suffix-4  { padding-right: 24% ;}
.container-16 .suffix-5  { padding-right: 32% ;}
.container-16 .suffix-6  { padding-right: 36% ;}
.container-16 .suffix-7  { padding-right: 42% ;}
.container-16 .suffix-8  { padding-right: 48% ;}
.container-16 .suffix-9  { padding-right: 54% ;}
.container-16 .suffix-10 { padding-right: 60% ;}
.container-16 .suffix-11 { padding-right: 66% ;}
.container-16 .suffix-12 { padding-right: 72% ;}
.container-16 .suffix-13 { padding-right: 78% ;}
.container-16 .suffix-14 { padding-right: 84% ;}
.container-16 .suffix-15 { padding-right: 90% ;}
.container-16 .suffix-16 { padding-right: 96% ;}


/* Push Space */
.container-16 .push-1  { left: 6%  ;}
.container-16 .push-2  { left: 12% ;}
.container-16 .push-3  { left: 18% ;}
.container-16 .push-4  { left: 24% ;}
.container-16 .push-5  { left: 32% ;}
.container-16 .push-6  { left: 36% ;}
.container-16 .push-7  { left: 42% ;}
.container-16 .push-8  { left: 48% ;}
.container-16 .push-9  { left: 54% ;}
.container-16 .push-10 { left: 60% ;}
.container-16 .push-11 { left: 66% ;}
.container-16 .push-12 { left: 72% ;}
.container-16 .push-13 { left: 78% ;}
.container-16 .push-14 { left: 84% ;}
.container-16 .push-15 { left: 90% ;}
.container-16 .push-16 { left: 96% ;}


/* Pull Space */
.container-16 .pull-1  { left: -6%  ;}
.container-16 .pull-2  { left: -12% ;}
.container-16 .pull-3  { left: -18% ;}
.container-16 .pull-4  { left: -24% ;}
.container-16 .pull-5  { left: -32% ;}
.container-16 .pull-6  { left: -36% ;}
.container-16 .pull-7  { left: -42% ;}
.container-16 .pull-8  { left: -48% ;}
.container-16 .pull-9  { left: -54% ;}
.container-16 .pull-10 { left: -60% ;}
.container-16 .pull-11 { left: -66% ;}
.container-16 .pull-12 { left: -72% ;}
.container-16 .pull-13 { left: -78% ;}
.container-16 .pull-14 { left: -84% ;}
.container-16 .pull-15 { left: -90% ;}
.container-16 .pull-16 { left: -96% ;}


/* 24 Grid Based Fluid */

/* fgrid 24 Columns 96/24 -1 */
.container-24 .grid-1  { width: 3%  ;}
.container-24 .grid-2  { width: 7%  ;}
.container-24 .grid-3  { width: 11% ;}
.container-24 .grid-4  { width: 15% ;}
.container-24 .grid-5  { width: 19% ;}
.container-24 .grid-6  { width: 23% ;}
.container-24 .grid-7  { width: 27% ;}
.container-24 .grid-8  { width: 31% ;}
.container-24 .grid-9  { width: 35% ;}
.container-24 .grid-10 { width: 39% ;}
.container-24 .grid-11 { width: 43% ;}
.container-24 .grid-12 { width: 47% ;}
.container-24 .grid-13 { width: 51% ;}
.container-24 .grid-14 { width: 55% ;}
.container-24 .grid-15 { width: 59% ;}
.container-24 .grid-16 { width: 63% ;}
.container-24 .grid-17 { width: 67% ;}
.container-24 .grid-18 { width: 71% ;}
.container-24 .grid-19 { width: 75% ;}
.container-24 .grid-20 { width: 79% ;}
.container-24 .grid-21 { width: 83% ;}
.container-24 .grid-22 { width: 87% ;}
.container-24 .grid-23 { width: 91% ;}
.container-24 .grid-24 { width: 95% ;}

/* Prefix Extra 96/24 */
.container-24 .prefix-1  { padding-left: 4%  ;}
.container-24 .prefix-2  { padding-left: 8%  ;}
.container-24 .prefix-3  { padding-left: 12% ;}
.container-24 .prefix-4  { padding-left: 16% ;}
.container-24 .prefix-5  { padding-left: 20% ;}
.container-24 .prefix-6  { padding-left: 24% ;}
.container-24 .prefix-7  { padding-left: 28% ;}
.container-24 .prefix-8  { padding-left: 32% ;}
.container-24 .prefix-9  { padding-left: 36% ;}
.container-24 .prefix-10 { padding-left: 40% ;}
.container-24 .prefix-11 { padding-left: 44% ;}
.container-24 .prefix-12 { padding-left: 48% ;}
.container-24 .prefix-13 { padding-left: 52% ;}
.container-24 .prefix-14 { padding-left: 56% ;}
.container-24 .prefix-15 { padding-left: 60% ;}
.container-24 .prefix-16 { padding-left: 64% ;}
.container-24 .prefix-17 { padding-left: 68% ;}
.container-24 .prefix-18 { padding-left: 72% ;}
.container-24 .prefix-19 { padding-left: 76% ;}
.container-24 .prefix-20 { padding-left: 80% ;}
.container-24 .prefix-21 { padding-left: 84% ;}
.container-24 .prefix-22 { padding-left: 88% ;}
.container-24 .prefix-23 { padding-left: 92% ;}
.container-24 .prefix-24 { padding-left: 96% ;}

/* Suffix Extra Space 96/24 */
.container-24 .suffix-1  { padding-right: 4%  ;}
.container-24 .suffix-2  { padding-right: 8%  ;}
.container-24 .suffix-3  { padding-right: 12% ;}
.container-24 .suffix-4  { padding-right: 16% ;}
.container-24 .suffix-5  { padding-right: 20% ;}
.container-24 .suffix-6  { padding-right: 24% ;}
.container-24 .suffix-7  { padding-right: 28% ;}
.container-24 .suffix-8  { padding-right: 32% ;}
.container-24 .suffix-9  { padding-right: 36% ;}
.container-24 .suffix-10 { padding-right: 40% ;}
.container-24 .suffix-11 { padding-right: 44% ;}
.container-24 .suffix-12 { padding-right: 48% ;}
.container-24 .suffix-13 { padding-right: 52% ;}
.container-24 .suffix-14 { padding-right: 56% ;}
.container-24 .suffix-15 { padding-right: 60% ;}
.container-24 .suffix-16 { padding-right: 64% ;}
.container-24 .suffix-17 { padding-right: 68% ;}
.container-24 .suffix-18 { padding-right: 72% ;}
.container-24 .suffix-19 { padding-right: 76% ;}
.container-24 .suffix-20 { padding-right: 80% ;}
.container-24 .suffix-21 { padding-right: 84% ;}
.container-24 .suffix-22 { padding-right: 88% ;}
.container-24 .suffix-23 { padding-right: 92% ;}
.container-24 .suffix-24 { padding-right: 96% ;}

/* Push Space */
.container-24 .push-1  { left: 4%  ;}
.container-24 .push-2  { left: 8%  ;}
.container-24 .push-3  { left: 12% ;}
.container-24 .push-4  { left: 16% ;}
.container-24 .push-5  { left: 20% ;}
.container-24 .push-6  { left: 24% ;}
.container-24 .push-7  { left: 28% ;}
.container-24 .push-8  { left: 32% ;}
.container-24 .push-9  { left: 36% ;}
.container-24 .push-10 { left: 40% ;}
.container-24 .push-11 { left: 44% ;}
.container-24 .push-12 { left: 48% ;}
.container-24 .push-13 { left: 52% ;}
.container-24 .push-14 { left: 56% ;}
.container-24 .push-15 { left: 60% ;}
.container-24 .push-16 { left: 64% ;}
.container-24 .push-17 { left: 68% ;}
.container-24 .push-18 { left: 72% ;}
.container-24 .push-19 { left: 76% ;}
.container-24 .push-20 { left: 80% ;}
.container-24 .push-21 { left: 84% ;}
.container-24 .push-22 { left: 88% ;}
.container-24 .push-23 { left: 92% ;}
.container-24 .push-24 { left: 96% ;}

/* Pull Space */
.container-24 .pull-1  { left: -4%  ;}
.container-24 .pull-2  { left: -8%  ;}
.container-24 .pull-3  { left: -12% ;}
.container-24 .pull-4  { left: -16% ;}
.container-24 .pull-5  { left: -20% ;}
.container-24 .pull-6  { left: -24% ;}
.container-24 .pull-7  { left: -28% ;}
.container-24 .pull-8  { left: -32% ;}
.container-24 .pull-9  { left: -36% ;}
.container-24 .pull-10 { left: -40% ;}
.container-24 .pull-11 { left: -44% ;}
.container-24 .pull-12 { left: -48% ;}
.container-24 .pull-13 { left: -52% ;}
.container-24 .pull-14 { left: -56% ;}
.container-24 .pull-15 { left: -60% ;}
.container-24 .pull-16 { left: -64% ;}
.container-24 .pull-17 { left: -68% ;}
.container-24 .pull-18 { left: -72% ;}
.container-24 .pull-19 { left: -76% ;}
.container-24 .pull-20 { left: -80% ;}
.container-24 .pull-21 { left: -84% ;}
.container-24 .pull-22 { left: -88% ;}
.container-24 .pull-23 { left: -92% ;}
.container-24 .pull-24 { left: -96% ;}
