/**
 * THIS FILE IS FOR THE THEME SETTINGS PAGE 
 **/

/* CLEAR FIX for fieldset wrapper*/.fieldset-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;} .fieldset-wrapper {display: inline-block;} html[xmlns] .fieldset-wrapper {display: block;} * html .fieldset-wrapper {height: 1%;}

#overlay-content fieldset { width: 95%; margin: 0px auto; }

.fieldset-wrapper {
/*  min-width: 860px;
*/  background: #FFF;
  width: 95%;
}

.settings-left-column {
  float:left;
  width: 25%;
}

.settings-right-column {
  width: 70%;
  margin-left: 4%;
  float:left;
}

.setting-heading {
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
}



/**  
  Layout block options 
**/

.layout-block {
  display: block;
  width: 150px;
  height:110px;
  background: #DEDEDE;
}

#edit-main-layout .form-item,
#edit-responsive-layouts-mq1 .form-item,
#edit-responsive-layouts-mq2 .form-item,
#edit-responsive-layouts-mq3 .form-item {
  float:left;
  border: solid 1px #fff;
  margin: 20px 10px 0 0;
  padding: 0px;
  width: 150px;
  overflow:hidden;
  opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50);
  cursor: pointer;
}

#edit-main-layout .form-item:hover,
#edit-responsive-layouts-mq1 .form-item:hover,
#edit-responsive-layouts-mq2 .form-item:hover,
#edit-responsive-layouts-mq3 .form-item:hover {
  opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);
  /* Firefox */
  -moz-transition-property: -moz-box-shadow -moz-opacity;
  -moz-transition-duration: 0.5s;
  /* WebKit */
  -webkit-transition-property: -webkit-box-shadow opacity;
  -webkit-transition-duration: 0.5s;
    /* Standard */
  transition-property: box-shadow opacity;
  transition-duration: 0.5s;
}

#edit-main-layout .active,
#edit-responsive-layouts-mq1 .active,
#edit-responsive-layouts-mq2 .active,
#edit-responsive-layouts-mq3 .active {
  border-color: #F0F;
}
.boxshadow #edit-main-layout .active,
.boxshadow #edit-responsive-layouts-mq1 .active,
.boxshadow #edit-responsive-layouts-mq2 .active,
.boxshadow #edit-responsive-layouts-mq3 .active {
  border-color: #FFF;
  -moz-box-shadow: 0px 0px 10px #DB218E;
  -webkit-box-shadow: 0px 0px 10px #DB218E;
  box-shadow: 0px 0px 10px #DB218E;
  
  opacity: 1; -moz-opacity: 1; filter: alpha(opacity=100);

  
  /* Firefox */
  -moz-transition-property: -moz-box-shadow -moz-opacity;
  -moz-transition-duration: 0.5s;
  /* WebKit */
  -webkit-transition-property: -webkit-box-shadow opacity;
  -webkit-transition-duration: 0.5s;
    /* Standard */
  transition-property: box-shadow opacity;
  transition-duration: 0.5s;
}

.layout-block div,
.content-region div {
  text-align:center;
  font-size: 1.25em;
  float:left;
  vertical-align:center;
  margin: 0px;
  padding: 0px;
}

.layout-block {
  position:relative;
  overflow:hidden;
}

.form-item .prim,
.content-region .prim {
  background: #666;
  color: #FFF;  
}

.form-item .sec,
.content-region .sec {
  background: #999;
  color: #333;  
}

.form-item .ter,
.content-region .ter {
  background: #CCC;
  color: #333;  
}


/** Layout 1-6 thumbnail **/

.option1 div,
.option2 div,
.option3 div,
.option4 div,
.option5 div,
.option6 div {
  height: 110px;
  line-height: 110px;
  width: 33%;
}

.option1 .prim,
.option2 .prim,
.option3 .prim,
.option4 .prim,
.option5 .prim,
.option6 .prim { width: 34%; }




/** Layout 7 thumbnail **/

.option7 div { height: 55px; line-height: 55px; }

.option7 .prim { width: 67%; }
.option7 .sec { float:right; width: 33%; }
.option7 div.ter {clear:both; width: 100%; }

/** Layout 8 thumbnail **/

.option8 div { height: 55px; line-height: 55px; }

.option8 .prim { width: 67%; float:right; }
.option8 .sec { width: 33%; }
.option8 .ter {clear:left; width: 100%; }


/** Layout 9 thumbnail **/

.option9 div { height: 55px; line-height: 55px; }

.option9 .prim { width: 100%; }
.option9 .sec { width: 50%; }
.option9 .ter { width: 50%; }

/** Layout 10 thumbnail **/

.option10 div { height: 55px; line-height: 55px; }
       
.option10 .prim { width: 100%; }
.option10 .sec { width: 50%; }
.option10 .ter { width: 50%; }


/** Layout 11 thumbnail **/

.option11 div { height: 55px; line-height: 55px; }

.option11 .prim { width: 67%; }
.option11 .sec { width: 33%; float:right; height: 110px; line-height: 110px; }
.option11 .ter {width: 67%; }


/** Layout 12 thumbnail **/

.option12 div { height: 55px; line-height: 55px; }

.option12 .prim { width: 67%; float:right; }
.option12 .sec { width: 33%; height: 110px; line-height: 110px; }
.option12 .ter {width: 67%; float:right; }


/** Layout 13 thumbnail **/

.option13 div { height: 36px; line-height: 37px; }

.option13 .prim { width: 100%; }
.option13 .sec { width: 100%; height: 37px; line-height: 37px;}
.option13 .ter {width: 100%;  }


/** Layout 14 thumbnail **/

.option14 div { height: 55px; line-height: 55px; }

.option14 .prim { width: 67%; }
.option14 .sec { width: 33%; float:right; height: 110px; line-height: 110px; }
.option14 .ter {width: 67%; }


/** Layout 15 thumbnail **/

.option15 div { height: 55px; line-height: 55px; }

.option15 .prim { width: 67%; float:right; }
.option15 .sec { width: 33%; height: 110px; line-height: 110px; }
.option15 .ter {width: 67%; float:right; }


.error-cell {
  display: none;
}

.error .error-cell {
  display:block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #F00;
  opacity: 0.3;
}


/** 
 * Page layout preview
 **/
 
.page-layout-preview { width: 100%; background: #EEE; border: solid 1px #333; margin-top: 20px; }
.page-layout-preview > div { width: 60%; margin: 0px auto; text-align:center; min-height: 30px; line-height: 30px; }

.page-layout-preview .header { background: #CCC; }
.page-layout-preview .preface_first { background: #AAA; }
.page-layout-preview .preface { background: #BBB; }
.page-layout-preview .preface_last { background: #AAA; }
.page-layout-preview .content-region { background: #CCC; }
.page-layout-preview .content-region div { }
.page-layout-preview .postscript_first { background: #AAA; }
.page-layout-preview .postscript { background: #BBB; }
.page-layout-preview .postscript_last { background: #AAA; }
.page-layout-preview .footer { background: #CCC; }


