/**
* ALL MEDIA
* Use this stylesheet for styles accross all media types [print/screen/handheld]
*/

/** 
  Here are some helper classes for you. Uncomment and play. 
**/

/*
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.float-left { float:left; }
.float-right { float:right; }

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
*/