/**
* SCREEN & PROJECTION MEDIA STYLESHEET
* Use this stylesheet for screen only styles
* This stylesheet is disabled in the theme .info file
*/


.region-header { background: #EEE; }
.region-preface-first { background: #DDD; }
.region-preface { background: #CCC; }
.region-preface-last { background: #BBB; }
.region-postscript-first { background: #BBB; }
.region-postscript { background: #CCC; }
.region-postscript-last { background: #DDD; }
.region-footer { background: #EEE; }
