/**
*
* This stylesheet is for your less.less files. If you are not familiar with the less css preprocessor 
* go to http://lesscss.org/ to find out more. 
* http://incident57.com/less/
*
* $ sudo gem install less - :D
*
*
*
**/

/** ************************************************************************ **/
/** LESS VARIABLES **/
/** ************************************************************************ **/

  @red-text: #F00;

/** ************************************************************************ **/
/** END LESS VARIABLES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** MIXIN LESS CLASSES **/
/** ************************************************************************ **/

  .copy {}
  .ul-li {}
  .ol-li {}
  .heading1 {}
  .heading2 {}
  .heading3 {}
  .heading4 {}
  .heading5 {}
  .heading6 {}
  
  /* Image replacements */
  .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
  
  .hidden { display: none; visibility: hidden; }
  .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
  .invisible { visibility: hidden; }

  .clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }

  .float-left { float:left; }
  .float-right { float:right; }
  
  .clear { clear:both; }
  .clear-left { clear: left; }
  .clear-left { clear: right; }

/** ************************************************************************ **/
/** END MIXIN LESS CLASSES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** TYPOGRAPHICAL STYLES
/** ************************************************************************ **/

  h1 {.heading1;}
  h2 {.heading2;}
  h3 {.heading3;}
  h4 {.heading4;}
  h5 {.heading5;}
  h6 {.heading6;}

  p { .copy; }

/** ************************************************************************ **/
/** END TYPOGRAPHICAL STYLES
/** ************************************************************************ **/
