/** 
* CSS FILE FOR 960gs_fixed_24
**/

.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

/* float-right is in the default css */

/* Skinr selectable helper classes */
.grid-row { margin-top: 10px; margin-bottom: 10px; }