/** 
* CSS FILE FOR 960gs_fluid_12
**/

.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

/* float-right is in the default css */

/* Skinr selectable helper classes */
.grid-row { margin-top: 1%; margin-bottom: 1%; }